body{

}
h1 {
    color: rgb(19, 70, 85);
    font-family: cambria;
    font-size: large;
}
p {
    color: rgba(73, 33, 10, 0.863);
    font-family: consolas;
    font-size: medium;
}
#container{
    width: 100%;
    height: 15%;
    background-color: blanchedalmond;
    margin: 0% auto;
}
#post h1{
    text-align: center;
    color: #8b6138;
    font-family: cambria;
    font-size: 40px;
}