body{
    margin: 0;
}
h1 {
    margin: 10px;
    color: rgb(19, 70, 85);
    font-family: Arial;
    font-size: large;
}
p {
    margin: 12px;
    color: rgba(73, 33, 10, 0.863);
    font-family: consolas;
    font-size: medium;
}
#container{
 
    align-items: center;
    display: flex;
    width: 100%;
    height: 10%;
    background-color: blanchedalmond;
    justify-content: space-between;

}
#post h1{
    margin: 3;
    text-align: left;
    color: #8b6138;
    font-family: cambria;
    font-size: 40px;
    vertical-align: middle;


}