body{
    margin: 0;
}
h1 {
    margin: 10px;
    color: rgb(19, 70, 85);
    font-family: Arial;
    font-size: large;
}
p {
    margin: 12px;
    color: rgba(104, 47, 15, 0.863);
    font-family: consolas;
    font-size: medium;
}
#container{
    text-align: left;
    color: #fff9f2;
    font-family: cambria;
    font-size: 40px;
    font-weight: bolder;

    align-items: center;
    display: flex;
    width: 100%;
    height: 10%;
    background-color: rgb(250, 132, 21);
    justify-content: space-between;


}
#container #post {
    color: #fff9f2d5;
    font-size: 20px;
    font-weight: normal;

}